<?xml version="1.0" encoding="UTF-8" standalone="no"?><Config>
	<Login>
		<User_Login>
			<Username>username</Username>
			<Password>password</Password>
			<Email>email</Email>
		</User_Login>
		<User_Login>
			<Username>UserTeste</Username>
			<Password>UserTestPass</Password>
			<Email>UserTest@ms.com</Email>
		</User_Login>
		<User_Login>
			<Username>ahaha</Username>
			<Password>ahahah</Password>
			<Email>ahha@gmail.com</Email>
		</User_Login>
		<User_Login>
			<Username>Test</Username>
			<Password>a</Password>
			<Email>teste</Email>
		</User_Login>
		<User_Login>
			<Username>user2</Username>
			<Password>123</Password>
			<Email>user2</Email>
		</User_Login>
		<User_Login>
			<Username>user3</Username>
			<Password>123</Password>
			<Email>user3</Email>
		</User_Login>
		<User_Login>
			<Username>user</Username>
			<Password>123</Password>
			<Email>user</Email>
		</User_Login>
		<User_Login>
			<Username>Elsa</Username>
			<Password>elsa</Password>
			<Email>eptaa@iscte-iul.pt</Email>
		</User_Login>
		<User_Login>
			<Username>elsa</Username>
			<Password>elsa</Password>
			<Email>elsa@gmail.com</Email>
		</User_Login>
		<User_Login>
			<Username>NewTest</Username>
			<Password>NewTest</Password>
			<Email>NewTest@ms.com</Email>
		</User_Login>
	<User_Login><Username>ssss</Username><Password>sssss</Password><Email>ssss</Email></User_Login></Login>
	<Facebook><User_Facebook><Token>EAAD0JjeESBwBAET05tGhHzL7O7VqXAFfjw0NF7LsP4R68GbSydJ8Ro6xkNM9Qq9bx9XqIYHKNkVFrgBDErEgLU0EO6euuz4SlZAXJZAIkCCyEfmv1YbvcpPS4DoYFTpF95aZCBZCZCkYSDtSYmNeLGWCq1dIqLkhQo4efZAx1Rvk1Yh3SGYYydyrG5uc3OiulRXbDO3Ya54QZDZD</Token><AppId>268444977350684</AppId><AppSecret>75a7638dfa1a64929a408b3955681d0a</AppSecret></User_Facebook></Facebook>
	<Twitter><User_Twitter><ConsumerKey>lssQlInMSR48WEhVnhhEpLKlU</ConsumerKey><ConsumerSecret>HJoUp0olU7wGYFFSbB6gEMRtfxJBUunM2ZirdOznPRoGpcBBy9</ConsumerSecret><AccessToken>1056204591581290497-qChkQRfvnqCsNq5fTlJ6kFiaDdOfos</AccessToken><AccessTokenSecret>Ikwu8aWLHnm7GduV5SCX1rwfOck5FlEyItvEIzYpRkhsd</AccessTokenSecret></User_Twitter></Twitter>
	<Gmail><User_Email><Mail>happyc0d3rtwo@gmail.com</Mail><Password>happy.two</Password></User_Email></Gmail>
</Config>