<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Config>
	<Login>
		<User_Login>
			<Username>username</Username>
			<Password>password</Password>
			<Email>email</Email>
		</User_Login>
		<User_Login>
			<Username>UserTeste</Username>
			<Password>UserTestPass</Password>
			<Email>UserTest@ms.com</Email>
		</User_Login>
		<User_Login>
			<Username>ahaha</Username>
			<Password>ahahah</Password>
			<Email>ahha@gmail.com</Email>
		</User_Login>
		<User_Login>
			<Username>Test</Username>
			<Password>a</Password>
			<Email>teste</Email>
		</User_Login>
		<User_Login>
			<Username>user2</Username>
			<Password>123</Password>
			<Email>user2</Email>
		</User_Login>
		<User_Login>
			<Username>user3</Username>
			<Password>123</Password>
			<Email>user3</Email>
		</User_Login>
		<User_Login>
			<Username>user</Username>
			<Password>123</Password>
			<Email>user</Email>
		</User_Login>
		<User_Login>
			<Username>Elsa</Username>
			<Password>elsa</Password>
			<Email>eptaa@iscte-iul.pt</Email>
		</User_Login>
		<User_Login>
			<Username>elsa</Username>
			<Password>elsa</Password>
			<Email>elsa@gmail.com</Email>
		</User_Login>
	</Login>
	<Facebook>
	</Facebook>
	<Twitter>
		<User_Login>
			<ConsumerKey>Consumer</ConsumerKey>
			<ConsumerSecret>ConsumerS</ConsumerSecret>
			<AccessToken>Access</AccessToken>
			<AccessTokenSecret>Access secret</AccessTokenSecret>
		</User_Login>
	</Twitter>
	<Gmail>
		<User_Login>
			<Mail>aaa</Mail>
			<Password>aaa</Password>
		</User_Login>
		<User_Login>
			<Mail>klldfsldvxjjlskldfj111111</Mail>
			<Password>assdfsdfd</Password>
		</User_Login>
	</Gmail>
</Config>