<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Config>
	<Login>
		<User_Login>
			<Username>username</Username>
			<Password>password</Password>
			<Email>email</Email>
		</User_Login>
		<User_Login>
			<Username>UserTeste</Username>
			<Password>UserTestPass</Password>
			<Email>UserTest@ms.com</Email>
		</User_Login>
		<User_Login>
			<Username>ahaha</Username>
			<Password>ahahah</Password>
			<Email>ahha@gmail.com</Email>
		</User_Login>
		<User_Login>
			<Username>Test</Username>
			<Password>a</Password>
			<Email>teste</Email>
		</User_Login>
		<User_Login>
			<Username>user2</Username>
			<Password>123</Password>
			<Email>user2</Email>
		</User_Login>
		<User_Login>
			<Username>user3</Username>
			<Password>123</Password>
			<Email>user3</Email>
		</User_Login>
		<User_Login>
			<Username>user</Username>
			<Password>123</Password>
			<Email>user</Email>
		</User_Login>
		<User_Login>
			<Username>Elsa</Username>
			<Password>elsa</Password>
			<Email>eptaa@iscte-iul.pt</Email>
		</User_Login>
		<User_Login>
			<Username>elsa</Username>
			<Password>elsa</Password>
			<Email>elsa@gmail.com</Email>
		</User_Login>
		<User_Login>
			<Username>NewTest</Username>
			<Password>NewTest</Password>
			<Email>NewTest@ms.com</Email>
		</User_Login>
	</Login>
	<Facebook>
	</Facebook>
	<Twitter>
		<User_Twitter>
			<ConsumerKey>Consumer</ConsumerKey>
			<ConsumerSecret>ConsumerS</ConsumerSecret>
			<AccessToken>Access</AccessToken>
			<AccessTokenSecret>Access secret</AccessTokenSecret>
		</User_Twitter>
		<User_Twitter_Token>
			<AuthConsumerSecret>ConsumerT</AuthConsumerSecret>
			<AuthConsumerKey>ConsumerT</AuthConsumerKey>
			<AuthAccessToken>ConsumerT</AuthAccessToken>
			<AuthAccesTokenSecret>ConsumerT</AuthAccesTokenSecret>
		</User_Twitter_Token>
		<User_Twitter_Token>
			<AuthConsumerSecret>NewTest</AuthConsumerSecret>
			<AuthConsumerKey>NewTest</AuthConsumerKey>
			<AuthAccessToken>NewTest</AuthAccessToken>
			<AuthAccesTokenSecret>NewTest</AuthAccesTokenSecret>
		</User_Twitter_Token>
		<User_Twitter>
			<ConsumerKey>NewTest</ConsumerKey>
			<ConsumerSecret>NewTest</ConsumerSecret>
			<AccessToken>NewTest</AccessToken>
			<AccessTokenSecret>NewTest</AccessTokenSecret>
		</User_Twitter>
	</Twitter>
	<Gmail>
		<User_Email>
			<Mail>user</Mail>
			<Password>pass</Password>
		</User_Email>
		<User_Email>
			<Mail>klldfsldvxjjlskldfj111111</Mail>
			<Password>assdfsdfd</Password>
		</User_Email>
		<User_Email>
			<Mail>NewTest</Mail>
			<Password>NewTest</Password>
		</User_Email>
	</Gmail>
</Config>